
*{
	margin:0; 
	padding: 0;
	font-size: medium;
}


body{
	font-family: 'Inter', sans-serif;
	background-image: url(cancha-fondo.webp);
	background-color: transparent;
	height: 50%;
	background-position-x: center;
	
}



header {
	font-size: medium;
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px ;
	background: rgb(154, 9, 154);
	height: auto;
	position: fixed;
	transition: 0.7s;
	padding: 30px 30px;
	z-index:10;
	display: block;
	
}	
header.abajo{
	font-size: 5px;
	background-color:rgb(154, 9, 154);
	padding: 5px 5px;
	
}




header a {
		color: white;
	}

.wrapper {
	border: solid black;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
} 

#logo {
	width: 30%;
	font-weight: bold;
	color: #fff;
	font-size: 30px;
	line-height: 60px;
	float: left;
	display: inline-block;
}

/*
 * Navegaci칩n
 */
 nav {
	text-align: right;
	display: inline-block;
	line-height: 50px;
	width: 65%;
}
	nav ul {
		position: relative;
		list-style: none;
		padding-right: 0%;
	}
	
		nav ul li {
			position: relative;
			display: inline-block;
			line-height: 20%;
		}
			
			nav ul li a {
				background-color: rgb(201, 76, 201);
				border-radius: 50px;
				position: relative;
				padding: 10px 20px;
				text-decoration: none;
				line-height: normal;
				font-size: 15px;
				font-weight: bold;
				-webkit-transition: all 500ms ease ;
				-o-transition:all 500ms ease ;
				transition:all 500ms ease ;
			}
			
				nav ul li a:hover {
					background:  #215a11;
					border-radius: 50px;

				}








.carrusel {
	margin-top: 50px;
	display: flex;
	gap: 10px;
	justify-content: center;

}

.carrusel ul {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 1000px;
}

.rese침a {
	font-size: larger;
	text-align: center;
	position: relative;
	margin-top: 15%;
	background-color: #215a11;
	color: white;
}

.texto {
	background-color: whitesmoke;
	opacity: 0.8;
	padding: 10px 10px;
	font-size: 15px;
}


.principal {
	font-size: larger;
	text-align: center;
	position: relative;
	margin-top: 15px;
	background-color: #215a11;
	color: white;
}

.principal h2{
	color:black;

}



.posiciones {
	border: none;
	border-radius: 50px;
	width: 80%;
	margin: 0 10%;
	margin-top: 15px;
	position: relative;
	padding: 5px 0;
	text-align: center;
	background-color: #215a11;
	color: white;
	font-size: larger;
	cursor: pointer;
}

.posiciones::after {
	content: '+';
	color: white;
	position: absolute;
	top: 50%;
	right: 5%;
	font-size: medium;
	transform: translateY(-50%);
}

.active, .posiciones:hover{
	background-color: rgb(154, 9, 154) ;
	border-radius: 50px;
}

.posiciones.active::after {
	content: '-';
}

.contenido {
	margin: 0 15%;
	display: none;
	width: 70%;

	overflow: hidden;
	transition: 0.5s;
}
.test {
	border: solid blue;
	text-align: center;
	margin-top: 10px;
	height: 70%;

}

.test img {
	border: solid black;
	position: relative;
	width: 50%;

}

/*
.contenido img {
	margin-top: 10px;
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 150px;
}*/

.test p {
	position: relative;
	border: solid red;
	background-color:  whitesmoke;
	opacity: 0.8;
	margin-top: 10px;
	width: 50%;

}


.carrusel-fotos {
	display: flex;
	gap: 5px;
	overflow: auto;
}

.carrusel-fotos img {
	background: rgb(154, 9, 154);
	border: 5px solid rgb(154, 9, 154) ;
	width: auto;
	height: auto;
	max-width: 300px;
	max-height: 200px;
	object-fit: contain;
}

.carrusel-menu{
	display: none;
}

@media screen and (min-width: 500px) {
	
	.carrusel-fotos {
		overflow: hidden;
	}
	.carrusel-fotos img {
		width: 400px;
		height: 300px;
	}
	.carrusel-menu {
		display: block;
	}
	.carrusel-menu img {
		width: 40px;
		height: 30px;
		border: 3px solid rgb(154, 9, 154);
	}
	
}


	.galeria{
		text-align: center;
		position: relative;
		top: 150px;
		width: 100%;
		height: 100vh;
	}
	
	h2{
	color: white;
	}

	h1{
		color: #fff;
		background-color: #215a11;
	}
	
/* adaptable a dispositivos m칩viles*/
@media screen and (max-width: 882px) {
	header {
		display: block;
		padding: 5px 5px;
		}
	#logo {
		font-size: 15px;
		width: %;
		text-align: left;
		line-height:10px;
		padding: 10px 10px;
		display: inline-block;
	}
	header nav {
		text-align: right;
		display: inline-block;
		width: 60%;
	}
	header nav ul  {
		margin-right: 0%;
	
	}

	header nav ul li {
		margin-right: 0%;
	}

	header nav ul li a {
		border-radius: 50px;
		font-size: 12px;
		display: inline;
		padding: 5px 5px;
		margin-block-end: 0%;
		-webkit-transition: all 500ms ease ;
		-o-transition:all 500ms ease ;
		transition:all 500ms ease ;
	}
		header nav ul li a:hover {
			background:  #215a11;
			border-radius: 50px;
		}

	.rese침a {
		font-size: small;
	}

	.principal {
		font-size: small;
	}

	.posiciones {
		font-size: small;
	}

	.texto-cont{
		font-size: 10px;
	}
	.texto {
		font-size: 10px;
	}

	}