body{
	font-family: 'Playfair Display', serif;
    background-color: rgb(248, 217, 248);
}

.titulo {
    background: scroll ;
    text-align: center;
    color: black;
}

h1 {
    
}

h2 {
    
}

#imagen {
    width: auto;
    height: 300px;
}

li {
    list-style: none;
}